<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>Hello there!</h1>
    <p>This is the can-tech,</p>
    <!-- consider har reload sometimes in chrome -->
    <img src="static/1.jpg" alt="pp" width="400px" height="400px" />
    <hr />
    <h3>Knowledge</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>REACT</li>
      <li>PYTHON</li>
      <li>FLASK</li>
    </ul>
    <hr />
    <h3>Experience</h3>
    <table>
      <tr>
        <th>date</th>
        <th>work</th>
      </tr>
      <tr>
        <td>10-10-2023</td>
        <td>Facebook</td>
      </tr>
      <tr>
        <td>10-10-2023</td>
        <td>Amazon</td>
      </tr>
    </table>
    <hr />
    <h3>Contact</h3>
    <ul>
      <li><a href="/">Facebook</a></li>
      <li><a href="/">Twitter</a></li>
      <li><a href="/">Github</a></li>
      <li><a href="/">Instagram</a></li>
      <li><a href="/">Instagram2</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>
